.about-film-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;

    opacity: 1;
    transition: opacity 250ms ease-in-out;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    & .container {
        overflow-y: auto;
    }
}

.modal-body {
    background-color: $color--white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 90%;
    padding: 48px 20px 40px 20px;
    min-height: 800px;

    @media screen and (min-width: 768px) {
        transform: translate(-50%, -35%);
        min-height: 552px;
        padding: 40px 72px 64px 36px;
    }

    @media screen and (min-width: 1200px) {
        min-height: 552px;
        padding: 40px 12px;
    }

}

.close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 8px;
    right: 8px;
    color: $color--black;
    background-color: $color--white;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out, ;

    &:hover {
        color: $color--white;
        background-color: $color--primary;

    }
}

.close__icon {
    display: block;
    width: 30px;
    height: 30px;
    stroke: currentColor;
}

.about-film {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        gap: 68px;
    }

    @media screen and (min-width: 1200px) {

        align-items: stretch;
        gap: 16px;
    }


}

.about-film__body {
    flex-basis: calc((100% - 16px)/2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-film__img {
    flex-basis: calc((100% - 16px)/2);
    object-fit: cover;
}

.film__title {
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.15;
}

.film-atributes {
    display: flex;
    gap: 40px;

}

.film-properties,
.film-value {

    line-height: 1.33;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: $text-color--gray;

}

.value {
    display: flex;
    align-items: center;
    gap: 3px;
}

.film-value {
    color: $color--black;
}

.value--red,
.value--gray-bg {
    background: $color--primary;
    border-radius: 0.3125rem;
    width: 36px;
    height: 16px;
    padding: 1px 4px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color--white;
}

.value--gray {
    color: $text-color--gray;
}

.value--gray-bg {
    background: $color--gray;
    color: $color--black;
}

.about-film__description {}

.description__title {
    text-transform: uppercase;
    margin-bottom: 8px;
}

.description {
    line-height: 1.67;
}

.button__wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    @media screen and (min-width: 769px) {
        gap: 8px;
    }
}

.add-to-watched {
    padding: 10px 12px;
    font-weight: inherit;
    text-transform: uppercase;
    background-color: $color--primary;
    border-radius: 6.25rem;
    color: $color--white;
}

.add-to-queue {
    padding: 9px 13px;
    font-weight: inherit;
    text-transform: uppercase;
    border: 1px solid #000000;
    border-radius: 6.25rem;
    background-color: $color--white;
    color: $color--primary;
}