.container {
    max-width: 480px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        padding: 0 32px;
        max-width: 768px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}