.films-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    line-height: 1;

    @media screen and (min-width: 480px) {
        gap: 32px;
    }

    @media screen and (min-width: 800px) {
        gap: 16px;
    }

    &.library-empty {
        height: 45svh;
    }
}

.film {
    flex-basis: 100%;

    @media screen and (min-width: 480px) {
        flex-basis: calc((100% - 32px) / 2);
    }

    @media screen and (min-width: 800px) {
        flex-basis: calc((100% - (16px * 2)) / 3);
    }
}

.film-link {
    color: inherit;

    &:hover {
        filter: brightness(1.3);

        & .film__name {
            filter: brightness(0.6);
            color: var(--var-color-primary);
        }

        & .film__description {
            color: $text-color--gray;
        }
    }
}

.film__img {

    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;

    @media screen and (min-width: 480px) {
        height: 455px;
        margin-bottom: 8px;
    }

    @media screen and (min-width: 800px) {
        height: 574px;
        margin-bottom: 12px;
    }
}

.film-body {
    font-size: 0.875rem;

    @media screen and (min-width: 800px) {
        font-size: 1.25rem;
        line-height: 1.2;
    }

}

.film__name {
    text-transform: uppercase;
    margin-bottom: 7px;
}

.film__description {
    color: var(--var-color-primary);
}