.footer {
    background-color: $color--gray;
}

.footer-body {
    padding: 28px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: $text-color--gray;

    font-size: 0.875rem;
    line-height: 1.14;

    @media screen and (min-width: 544px) {
        font-size: 1rem;
        line-height: 1.18;
        gap: 3px;
        padding: 30px 0;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    @media screen and (min-width: 769px) {
        padding: 29px 0;
    }
}

.footer-body__title {}

.footer-body__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.description__text {}

.description__icon {
    fill: #b92f2c;
}

.description__link {
    color: inherit;

    & span {
        text-decoration-line: underline;
        transition: $transition-color;

        &:hover {
            color: var(--var-color-primary);
        }
    }
}

.description__icon {
    width: 14px;
    height: 14px;
    fill: #b92f2c;
    animation: beat 1s infinite ease-in-out;
  }

  @keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
    