header .container {
    padding: 20px;
    margin: 0 auto;
    height: 100lvh;

    overflow: hidden;

    @media screen and (min-width: 480px) {
        height: 286px;
        padding: 32px;
    }

    @media screen and (min-width: 769px) {
        height: 316px;
    }
}

.header-nav {
    position: relative;
    padding: 14px;
    height: 100%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-nav__bg--yellow {}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 74px;
    color: $color--white;

    @media screen and (min-width: 480px) {
        bottom: 16px;
        left: 16px;
        transform: translateX(1);
    }

    @media screen and (min-width: 769px) {
        bottom: 32px;
        left: 32px;
    }
}

.logo__icon {
    width: 190px;
    height: 38px;
    transition: transform 0.2s ease-in-out;

    @media screen and (min-width: 480px) {
        width: 233px;
        height: 47px;
    }

    @media screen and (min-width: 769px) {
        width: 375px;
        height: 75px;
    }
}

.logo:hover .logo__icon {
    transform: scale(1.1);
}

.header-nav__list-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 4px;

    :last-child {
        flex: 1 1 auto;

        @media screen and (min-width: 480px) {
            flex: 0 1 auto;
        }

        @media screen and (min-width: 1280px) {}
    }

    @media screen and (min-width: 480px) {
        margin-right: auto;
    }

    @media screen and (min-width: 1280px) {}
}

.header-nav__list-2 {
    display: flex;
    justify-content: center;
    column-gap: 4px;

    @media screen and (min-width: 480px) {
        margin-top: 40px;
    }

    @media screen and (min-width: 769px) {
        margin-top: 40px;
        column-gap: 30px;
    }

    &.is-hidden {
        display: none;
    }
}

.header-nav__title {
    display: block;
    padding: 10px 22px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6.25rem;

    &--home {
        color: $color--black;
        background-color: $color--white;
        padding: 10px 26px;

        &:hover,
        &:focus {
            color: $color--white;
            background-color: $color--black;
        }

        @media screen and (min-width: 480px) {
            padding: 12px 24px;
        }

        @media screen and (min-width: 769px) {
            padding: 14px 32px;
        }
    }

    &--lib {
        color: $color--black;
        background-color: $color--white;
        padding: 10px 26px;

        &:hover,
        &:focus {
            color: $color--white;
            background-color: $color--black;
        }

        @media screen and (min-width: 480px) {
            padding: 12px 20px;
        }

        @media screen and (min-width: 769px) {
            padding: 14px 24px;
        }
    }

    &--watch, 
    &--queue {
        background: $color--white;
        color: var(--var-color-primary);
        box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
        margin-bottom: 10px;

        &[data-active="false"] {

            &:hover,
            &:focus {
                color: $color--white;
                background: var(--var-color-primary);
            }
        }

        @media screen and (min-width: 480px) {
            padding: 12px 22px;
            margin-bottom: 0;
        }

        @media screen and (min-width: 769px) {
            padding: 14px 32px;
        }
    }
}

.header-nav__title--active {
    color: $color--white;
    background-color: $color--black;
}

.header-nav__item {
    position: relative;
    color: $color--black;

    &--home {
        @media screen and (min-width: 670px) {
            order: 2;
        }
    }

    &--lib {
        @media screen and (min-width: 670px) {
            order: 3;
        }
    }

    &--input {
        @media screen and (min-width: 670px) {
            order: 1;
        }
    }
}

.header-nav__input {
    min-width: 250px;
    width: 100%;
    padding: 10px 14px;
    background-color: $color--white;
    border-radius: 6.25rem;
    border: none;

    &::placeholder {
        color: $color--black;
        font-weight: 400;

        @media screen and (min-width: 480px) {
            font-size: 0.875rem;
        }
    }

    @media screen and (min-width: 480px) {
        min-width: 105px;
        padding: 11px 16px;
        font-size: 0.875rem;
    }

    @media screen and (min-width: 769px) {
        min-width: 187px;
        padding: 13px 16px;
    }
}

.search__icon {
    position: absolute;
    top: 10;
    right: 14;
    stroke: currentColor;
    fill: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    @media screen and (min-width: 480px) {
        top: 11;
        right: 16;
    }

    @media screen and (min-width: 769px) {
        top: 13;
    }
}

.search__icon:hover {
    transform: scale(1.8);
}

.header-nav__item--input {
    &.is-hidden {
        display: none;
    }
}

.switch-them {
    position: absolute;
    top: 40%;
    right: 20px;
    zoom: 150%;

    @media screen and (min-width: 480px) {
        top: 30%;
        right: 30px;
        zoom: 100%;
    }
}

.switch-body {
    box-shadow: 0 0 5px black;
    border-radius: 1rem;
    height: 120px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch-line {
    height: 90px;
    width: 20px;
    background-color: rgba(243, 235, 224, 0.2);
    box-shadow: inset 0 0 3px black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.switch-orange,
.switch-red,
.switch-yellow {
    border: 1px solid rgba(37, 37, 37, 0.3);
    border-radius: 1rem;
    width: 20px;
    height: 20px;

    &:hover {
        box-shadow: -4px -3px 7px 3px rgba(0, 0, 0, 0.53);
        filter: contrast(1.5);
        width: 25px;
        height: 25px;
    }
}

.switch-yellow {
    background-color: #ece913;
}

.switch-red {
    background-color: #B92F2C;
}

.switch-orange {
    background-color: #ff9100;
}

.switch--active {
    box-shadow: -4px -3px 7px 3px rgba(0, 0, 0, 0.53);
    width: 25px;
    height: 25px;
}

.header-error {
    max-width: 480px;
    margin-top: 8px;

    background: rgba(255, 255, 255, 0.8);
    border-radius: .4rem;

    @media screen and (min-width: 480px) {
        max-width: 768px;
    }

    @media screen and (min-width: 769px) {
        max-width: 1280px;
    }


}

.header-error-text {
    display: block;
    padding: 3px;
    width: 170px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #000;

    @media screen and (min-width: 480px) {
        width: 150px;
        padding: 3px;
    }

    @media screen and (min-width: 769px) {
        width: 170px;
        padding: 3px;
    }
}