header .container {
    padding: 20px;
    margin: 0 auto;
    height: 100lvh;

    overflow: hidden;

    @media screen and (min-width: 480px) {
        height: 286px;
        padding: 32px;
    }

    @media screen and (min-width: 769px) {
        height: 316px;
    }
}

.header-nav {
    position: relative;
    padding: 14px;
    height: 100%;
    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 152, 13, 0.9);

    @media screen and (min-width: 480px) {
        display: block;
    }

    background-image: linear-gradient(267.62deg,
        rgba(255, 156, 46, 0) 78.46%,
        #ffa225 97.43%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%),
    url(../images/bg/background_1x_320.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(267.62deg,
                rgba(255, 156, 46, 0) 78.46%,
                #ffa225 97.43%),
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%),
            url(../images/bg/background_2x_320.jpg);
    }

    @media screen and (min-width: 480px) {
        flex-direction: row;
        background-position: right center;
        background-size: contain;

        background-image: linear-gradient(267.62deg,
                rgba(255, 156, 46, 0) 78.46%,
                #ffa225 97.43%),
            linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%),
            url(../images/bg/background_1x_1200.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(267.62deg,
                    rgba(255, 156, 46, 0) 78.46%,
                    #ffa225 97.43%),
                linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%),
                url(../images/bg/background_2x_1200.jpg);
        }
    }
}

.header-nav__bg--yellow {}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 74px;
    color: $color--white;

    @media screen and (min-width: 480px) {
        bottom: 16px;
        left: 16px;
        transform: translateX(1);
    }

    @media screen and (min-width: 769px) {
        bottom: 32px;
        left: 32px;
    }
}

.logo__icon {
    width: 190px;
    height: 38px;

    @media screen and (min-width: 480px) {
        width: 233px;
        height: 47px;
    }

    @media screen and (min-width: 769px) {
        width: 375px;
        height: 75px;
    }
}

.header-nav__list-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 4px;

    :last-child {
        flex: 1 1 auto;

        @media screen and (min-width: 480px) {
            flex: 0 1 auto;
        }

        @media screen and (min-width: 1280px) {}
    }

    @media screen and (min-width: 480px) {
        margin-right: auto;
    }

    @media screen and (min-width: 1280px) {}
}

.header-nav__list-2 {
    display: flex;
    justify-content: center;
    column-gap: 4px;
}

.header-nav__title {
    display: block;
    padding: 10px 22px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6.25rem;

    &--home {
        color: $color--black;
        background-color: $color--white;
        padding: 10px 26px;

        &:hover,
        &:focus {
            color: $color--white;
            background-color: $color--black;
        }

        @media screen and (min-width: 480px) {
            padding: 12px 24px;
        }

        @media screen and (min-width: 769px) {
            padding: 14px 32px;
        }
    }

    &--lib {
        color: $color--black;
        background-color: $color--white;
        padding: 10px 26px;

        &:hover,
        &:focus {
            color: $color--white;
            background-color: $color--black;
        }

        @media screen and (min-width: 480px) {
            padding: 12px 20px;
        }

        @media screen and (min-width: 769px) {
            padding: 14px 24px;
        }
    }

    &--watch {
        background: $color--white;
        color: $color--primary;
        box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);

        &:hover,
        &:focus {
            color: $color--white;
            background: $color--primary;
        }

        @media screen and (min-width: 480px) {
            padding: 12px 22px;
        }

        @media screen and (min-width: 769px) {
            padding: 14px 32px;
        }
    }

    &--queue {
        background: $color--white;
        color: $color--primary;

        &:hover,
        &:focus {
            color: $color--white;
            background: $color--primary;
        }

        @media screen and (min-width: 480px) {
            padding: 12px 22px;
        }

        @media screen and (min-width: 769px) {
            padding: 14px 24px;
        }
    }
}

.header-nav__title--active {
    color: $color--white;
    background-color: $color--black;
}

.header-nav__item {
    position: relative;
    color: $color--black;

    &--home {
        @media screen and (min-width: 670px) {
            order: 2;
        }
    }

    &--lib {
        @media screen and (min-width: 670px) {
            order: 3;
        }
    }

    &--input {
        @media screen and (min-width: 670px) {
            order: 1;
        }
    }
}

.header-nav__input {
    min-width: 250px;
    width: 100%;
    padding: 10px 14px;
    background-color: $color--white;
    border-radius: 6.25rem;
    border: none;

    &::placeholder {
        color: $color--black;
        font-weight: 400;

        @media screen and (min-width: 480px) {
            font-size: 0.875rem;
        }
    }

    @media screen and (min-width: 480px) {
        min-width: 105px;
        padding: 11px 16px;
        font-size: 0.875rem;
    }

    @media screen and (min-width: 769px) {
        min-width: 187px;
        padding: 13px 16px;
    }
}

.search__icon {
    position: absolute;
    top: 10;
    right: 14;
    stroke: currentColor;
    fill: transparent;

    @media screen and (min-width: 480px) {
        top: 11;
        right: 16;
    }

    @media screen and (min-width: 769px) {
        top: 13;
    }
}

.switch-them {
    position: absolute;
    top: 40%;
    right: 20px;
    zoom: 150%;

    @media screen and (min-width: 480px) {
        top: 30%;
        right: 30px;
        zoom: 100%;
    }
}

.switch-body {
    box-shadow: 0 0 5px black;
    border-radius: 1rem;
    height: 120px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch-line {
    height: 90px;
    width: 20px;
    background-color: rgba(243, 235, 224, 0.2);
    box-shadow: inset 0 0 3px black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.switch-orange,
.switch-red,
.switch-yellow {
    border: 1px solid rgba(37, 37, 37, 0.3);
    border-radius: 1rem;
    width: 20px;
    height: 20px;

    &:hover {
        border: 3px solid rgba(223, 221, 219, 0.5);
        width: 25px;
        height: 25px;
    }
}

.switch-yellow {
    background-color: #ece913;
}

.switch-red {
    background-color: #B92F2C;
}

.switch-orange {
    background-color: #ff9100;
}

.switch--active {
    border: 2px solid #fff;
    background-color: #FFA225;
    width: 25px;
    height: 25px;
}