.upward{
    position: fixed;
    bottom: 700px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #FF980D;
    border: 3px solid  #ff0303;
   
    cursor: pointer;
    border-radius: 50%;    
    font-size: 20px; 
    line-height: 70px;
   
    font-weight: 800;
    opacity: 0;
    transition: 0.5s;
    z-index: 999;
}

.active{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.upward:hover{
    background-color: rgb(255, 85, 0);
    scale: 1.2;       
}

.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   fill: #ff0303;;
    // fill: #ffffff;
}


