.upward {
    position: fixed;
    bottom: 700px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--var-color-primary);

    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    line-height: 70px;

    font-weight: 800;
    opacity: 0;
    transition: 0.5s;
    z-index: 999;
    pointer-events: none;

    &:hover {
        border: 1px solid var(--var-color-primary);
        color: var(--var-color-primary);
        background-color: #fff;
        scale: 1.2;
    }
}

.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
    z-index: 999;
    pointer-events: all;
    color: #fff;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: currentColor;
}