$color--primary: #B92F2C;
$color--orange: #FF980D;
$color--black: #000000;
$color--white: #FFFFFF;
$color--gray: #F7F7F7;

$text-color--gray: #545454;

$transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition_border-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);