<div class="about-film-modal is-hidden" data-modal>
    <div class="modal-body">
        <button type="button" class="close-btn" data-modal-close>
            <svg class="close__icon" height="30" width="30">
                <use href="./images/svg/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="about-film">
            
            <div class="button__wraper" id="buttonWrapper">
                <button class="add-to-watched" type="button" id="btn" data-value="add">
                    add to Watched
                </button>
                <button class="add-to-queue" type="button" id="btn" data-value="add">
                    add to queue
                </button>
            </div>
        </div>
        </div>
    </div>
</div>