<div class="about-film-modal is-hidden" data-modal>
    <div class="modal-body">
        <button type="button" class="close-btn" data-modal-close>
            <svg class="close__icon" height="30" width="30">
                <use href="./images/svg/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="about-film">
            <img class="about-film__img" src="./images/img/Rectangle 18.jpg" alt="film title" />
            <div class="about-film__body">
                <h3 class="film__title">A FISTFUL OF LEAD</h3>
                <div class="film-atributes">
                    <ul class="film-properties">
                        <li class="film-properties__item">
                            <p class="property">Vote / Votes</p>
                        </li>
                        <li class="film-properties__item">
                            <p class="property">Popularity</p>
                        </li>
                        <li class="film-properties__item">
                            <p class="property">Original Title</p>
                        </li>
                        <li class="film-properties__item">
                            <p class="property">Genre</p>
                        </li>
                    </ul>
                    <ul class="film-value">
                        <li class="film-value__item">
                            <p class="value">
                                <span class="value--red">7.3</span><span class="value--gray"> / </span>
                                <span class="value--gray-bg">1260</span>
                            </p>
                        </li>
                        <li class="film-value__item">
                            <p class="value">100.2</p>
                        </li>
                        <li class="film-value__item">
                            <p class="value">A FISTFUL OF LEAD</p>
                        </li>
                        <li class="film-value__item">
                            <p class="value">Western</p>
                        </li>
                    </ul>
                </div>
                <div class="about-film__description">
                    <h4 class="description__title">About</h4>
                    <p class="description">
                        Four of the West’s most infamous outlaws assemble to steal a huge
                        stash of gold from the most corrupt settlement of the gold rush
                        towns. But not all goes to plan one is killed and the other three
                        escapes with bags of gold hide out in the abandoned gold mine where
                        they happen across another gang of three – who themselves were
                        planning to hit the very same bank! As tensions rise, things go from
                        bad to worse as they realise the bags of gold are filled with
                        lead... they’ve been double crossed – but by who and how?
                    </p>
                </div>
                <div class="button__wraper" id="buttonWrapper">
                    <button class="add-to-watched" type="button" id="btn" data-value="add">
                        add to Watched
                    </button>
                    <button class="add-to-queue" type="button" id="btn" data-value="add">
                        add to queue
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>