<section class="section">
    <h2 class="visually-hidden">Film list</h2>
    <div class="container">
        <ul class="films-list">
            <li class="film">
                <a class="film-link" data-modal-open href="javascript:void(0)">
                    <img loading="lazy" width="280" height="398" src="./images/img/Rectangle 5.jpg" alt="film cover"
                        class="film__img">
                    <div class="film-body">
                        <p class="film__name">GREYHOUND</p>
                        <p class="film__description">Drama, Action | 2020</p>
                    </div>
                </a>
            </li>
            <li class="film">
                <a class="film-link" data-modal-open href="javascript:void(0)">
                    <img loading="lazy" width="280" height="398" src="./images/img/Rectangle 12.jpg" alt="film cover"
                        class="film__img">
                    <div class="film-body">
                        <p class="film__name">MONSTER HUNTER</p>
                        <p class="film__description">Drama, Action | 2020</p>
                    </div>
                </a>
            </li>
            <li class="film">
                <a class="film-link" data-modal-open href="javascript:void(0)">
                    <img loading="lazy" width="280" height="398" src="./images/img/Rectangle 13.jpg" alt="film cover"
                        class="film__img">
                    <div class="film-body">
                        <p class="film__name">ONCE UPON A TIME... IN HOLLYWOOD</p>
                        <p class="film__description">Drama, Comedy | 2019</p>
                    </div>
                </a>
            </li>
            <li class="film">
                <a class="film-link" data-modal-open href="javascript:void(0)">
                    <img loading="lazy" width="280" height="398" src="./images/img/Rectangle 14.jpg" alt="film cover"
                        class="film__img">
                    <div class="film-body">
                        <p class="film__name">LITTLE WOMEN</p>
                        <p class="film__description">Drama | 2019</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>