<footer class="footer">
    <div class="container">
        <div class="footer-body">
            <p class="footer-body__title">&#169 2023 | All Rights Reserved | </p>
            <div class="footer-body__wrapper">
                <span class="description__text">Developed with </span>
                <svg class="description__icon" height="14" width="12.88">
                    <use href="./images/svg/sprite.svg#icon-heart"></use>
                </svg>
                <a class="description__link" href="#">by <span>GoIT Students</span></a>
            </div>
        </div>
    </div>
</footer>