<header class="header">
  <div class="container">
    <nav class="header-nav header-nav__bg--yellow">
      <a href="./" class="logo"
        ><svg class="logo__icon" width="190" height="38">
          <use href="./images/svg/sprite.svg#icon-logo"></use></svg></a>
      <ul class="header-nav__list-1">
        <li class="header-nav__item header-nav__item--home">
          <a
            href="./"
            class="header-nav__title header-nav__title--home header-nav__title--active"
            >Home</a
          >
        </li>
        <li class="header-nav__item header-nav__item--lib">
          <a href="#" class="header-nav__title header-nav__title--lib"
            >My Library</a
          >
        </li>
        <li class="header-nav__item header-nav__item--input">
          <input
            class="header-nav__input"
            type="text"
            placeholder="Movie Search"
          />
          <svg class="search__icon" width="14" height="14">
            <use href="./images/svg/sprite.svg#icon-search"></use>
          </svg>
          <div class="header-error">
            <p class="header-error-text visually-hidden">
              Search result not successful. Enter the correct movie name and try
              again
            </p>
          </div>
        </li>
      </ul>
      <button
        data-registaration-open
        type="button"
        class="header-nav__title--registration button--signin"
        id="registration-modal-open"
      >
        Sign up
      </button>
      <div class="theme-switch">
        <svg
          class="theme-switch__icon icon-sun"
          role="img"
          aria-label="Sun icon"
        >
          <use href="./images/svg/sprite.svg#icon-sun"></use>
        </svg>
        <div class="theme-switch__control">
          <input
            class="theme-switch__toggle"
            type="checkbox"
            name="theme"
            id="theme-switch-toggle"
            aria-label="Switch between dark and light theme"
          />
          <label
            aria-hidden="true"
            class="theme-switch__track"
            for="theme-switch-toggle"
          >
          </label>
          <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>
        <svg class="theme-switch__icon icon-moon" aria-label="Moon icon">
          <use href="./images/svg/sprite.svg#icon-moon"></use>
        </svg>
      </div>
      <ul class="header-nav__list-2 is-hidden">
        <li class="header-nav__item">
          <button
            type="button"
            class="header-nav__title header-nav__title--watch button--watched"
            data-active="false"
            id="watched-btn"
          >
            Watched
          </button>
        </li>
        <li class="header-nav__item">
          <button
            type="button"
            class="header-nav__title header-nav__title--queue button--queue"
            data-active="false"
            id="queue-btn"
          >
            queue
          </button>
        </li>
      </ul>
      <div class="switch-them is-opacity">
        <div class="switch-body">
          <ul class="switch-line">
            <li class="switch-yellow" data-yellow></li>
            <li class="switch-red" data-red></li>
            <li class="switch-orange" data-orange></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
