<section class="section page-nav">
    <div class="container">
        <ul class="page-list">
            <li class="page-lisy__item"><a class="page" href="#"><svg class="page-arrow" width="14" height="14">
                        <use href="./images/svg/sprite.svg#icon-arrow"></use>
                    </svg></a></li>
            <li class="page-lisy__item"><a class="page" href="#">13</a></li>
            <li class="page-lisy__item"><a class="page" href="#">14</a></li>
            <li class="page-lisy__item"><a class="page page--active" href="#">15</a></li>
            <li class="page-lisy__item"><a class="page" href="#">16</a></li>
            <li class="page-lisy__item"><a class="page" href="#">17</a></li>
            <li class="page-lisy__item"><a class="page" href="#"><svg class="page-arrow page-arrow--right" width="14"
                        height="14">

                        <use href="./images/svg/sprite.svg#icon-arrow"></use>
                    </svg></a></li></a></li>
        </ul>
    </div>
</section>

<div id="pagination" class="tui-pagination"></div>