<section class="section page-nav">
    <div class="container">
        <ul class="page-list">
           
            <li class="page-lisy__item"><a class="page" href="#"></a></li>
            <li class="page-lisy__item"><a class="page" href="#"></a></li>
            <li class="page-lisy__item"><a class="page page--active" href="#"></a></li>
            <li class="page-lisy__item"><a class="page" href="#"></a></li>
            <li class="page-lisy__item"><a class="page" href="#"></a></li>
            <li class="page-lisy__item"><a class="page" href="#"></a> </li>
        </ul>
    </div>
</section>

<!-- <div id="pagination" class="tui-pagination"></div> -->
<!-- ------------------------------------ -->
<div class="pagination__my">
  <!-- <a href="#">«</a>
  <a href="#" class="active">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">»</a> -->
</div>