<div id="modal" class="modal">
    <div class="modal-content">
        <div class="team-card">

            <div class="card">
                <div class="card-img">
                    <img src="./images/team/team-photo/Polina.jpg" alt="Polina Faustova">
                </div>
                <div class="card-info">
                    <h3 class="card-name">Polina Faustova</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                                target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                                rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                                rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/team/team-photo/Vitaly.jpg" alt="Vitaly Ovsiyenko">
                </div>
                <div class="card-info">
                    <h3 class="card-name">Vitaly Ovsiyenko</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="https://www.linkedin.com/in/vitaly-ovsiyenko-01abaa177/"
                                target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://github.com/VitaliyOvsiienko" target="_blank"
                                rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://www.facebook.com/vitaly.ovsiyenko/" target="_blank"
                                rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/team/team-photo/Anna.jpg" alt="Anna Shvabovska">
                </div>
                <div class="card-info">
                    <h3 class="card-name">Anna Shvabovska</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://github.com/AShvab" target="_blank"
                                rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/team/team-photo/Andriy.jpg" alt="Andriy Prysiazhnyi">
                </div>
                <div class="card-info">
                    <h3 class="card-name">Andriy Prysiazhnyi</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://github.com/particle-mid" target="_blank"
                                rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/team/team-photo/Kyrylo.jpg" alt="Kirill Kutovuy">
                </div>
                <div class="card-info">
                    <h3 class="card-name">Kirill Kutovuy</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item"
                                href="https://www.linkedin.com/in/%D0%BA%D0%B8%D1%80%D0%B8%D0%BB%D0%BE-%D0%BA%D1%83%D1%82%D0%BE%D0%B2%D0%B8%D0%B9-a42667256/"
                                target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="https://github.com/Kirill99k" target="_blank"
                                rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/team/team-photo/Valeri.jpg" alt="Sizykh Valeri">
                </div>
                <div class="card-info">
                    <h3 class="card-name">Sizykh Valeri</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/team/team-photo/Nataliia.jpg" alt="Nataliia Lashko">
                </div>
                <div class="card-info">
                    <h3 class="card-name">Nataliia Lashko</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/img/Rectangle 12.jpg" alt="Person 1">
                </div>
                <div class="card-info">
                    <h3 class="card-name">John Doe</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/img/Rectangle 12.jpg" alt="Person 1">
                </div>
                <div class="card-info">
                    <h3 class="card-name">John Doe</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/img/Rectangle 12.jpg" alt="Person 1">
                </div>
                <div class="card-info">
                    <h3 class="card-name">John Doe</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/img/Rectangle 12.jpg" alt="Person 1">
                </div>
                <div class="card-info">
                    <h3 class="card-name">John Doe</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="./images/img/Rectangle 12.jpg" alt="Person 1">
                </div>
                <div class="card-info">
                    <h3 class="card-name">John Doe</h3>

                    <ul class="social-links">
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/linkedin.svg" alt="icon linkedin">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/github.svg" alt="icon github">
                            </a>
                        </li>
                        <li>
                            <a class="social-item" href="#" target="_blank" rel="noopener noreferrer">
                                <img src="./images/team/team-social/facebook.svg" alt="icon facebook">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

        <button id="close-modal" class="close-modal">Close</button>
    </div>
</div>