<div id="modal" class="modal"  team-modal>
    
    <div class="modal-content">
        <button type="button" class="close-modal" id="close-modal" team-modal-close>
            <svg class="close__icon" height="30" width="30">
                <use href="./images/svg/sprite.svg#icon-close"></use>
            </svg>
        </button>
        
        <ul class="team__list list">
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/team/team-photo/Polina.jpg"
            alt="Polina Faustova"
            width="170"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Polina Faustova</h3>
        </div>
        <ul class="social-links">
            <li>
                <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                    target="_blank" rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
      </li>
      
      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/team/team-photo/Vitaly.jpg" alt="Vitaly Ovsiyenko"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Vitaly Ovsiyenko</h3>
        </div>
        <ul class="social-links">
            <li>
                <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                    target="_blank" rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/team/team-photo/Anna.jpg" alt="Anna Shvabovska"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Anna Shvabovska</h3>
        </div>
        <ul class="social-links">
            <li>
                <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                    target="_blank" rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/team/team-photo/Andriy.jpg" alt="я рижа мавпа"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Andriy Prysiazhnyi</h3>
        </div>
        <ul class="social-links">
            <li>
                <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                    target="_blank" rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/team/team-photo/Kyrylo.jpg" alt="Kirill Kutovuy"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Kirill Kutovuy</h3>
        </div>
        <ul class="social-links">
            <li>
                <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                    target="_blank" rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/team/team-photo/Valeri.jpg" alt="Sizykh Valeri"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Sizykh Valeri</h3>
        </div>
        <ul class="social-links">
            <li>
                <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                    target="_blank" rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/img/Rectangle 12.jpg" alt="Person 1"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Person 1</h3>
        </div>
        <ul class="social-links">
            <li>
                <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                    target="_blank" rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/team/team-photo/Nataliia.jpg" alt="Nataliia Lashko"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Nataliia Lashko</h3>
        </div>
        <ul class="social-links">
            <li>
                <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                    target="_blank" rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
      </li>

      <li class="team__item">
        <div class="team__thumb">
          <img
            class="team__img"
            src="./images/img/Rectangle 12.jpg" alt="Person 1"
            width="250"
          />
        </div>
        <div class="team__container">
          <h3 class="team__title">Person 1</h3>
        </div>
        <ul class="social-links">
            <li>
                <a class="social-item" href="https://www.linkedin.com/in/polina-faustova-17500317a/"
                    target="_blank" rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://github.com/PolinaFaustova" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="social-item" href="https://www.facebook.com/polinamusikerincello" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="social-item-link" width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>

        </ul>
      </li>
      
    </ul>
    </div>
</div>
